body {background-color: #fff;}
body, h1, h2, h3, h4, h5, h6 {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-weight: 300;}
#shortcode_wrap {width: 400px;margin: 0 auto;padding-top: 20px;}
#link div.current {height: auto;width: auto;}
.option {padding: 0 0 15px 0;position: relative;height: auto;overflow: hidden;}
h4 {padding-bottom: 5px;margin-bottom: 15px;border-bottom: 1px solid #e8e8e8;}
h5 {border-top: 1px solid #e8e8e8;border-bottom: 1px solid #e8e8e8;padding: 10px 0;margin-bottom: 15px;}
fieldset label {float: left;line-height: 30px;width: 175px;}
label.for-checkbox {width: 220px;}
input[type="text"], select, textarea {width: 220px;height: 30px;float: right;}
textarea {height: 100px;}
input[type="checkbox"] {margin: 8px 160px 20px 0;float: right;font-size: 22px;}
input[type="radio"] {margin: 5px 0 0 20px;}
span.radio_label {position: relative;top: 3px;left: 3px;}
input[disabled], select[disabled], textarea[disabled] {background-color: #e8e8e8;}
input[disabled] + label, select[disabled] + label, textarea[disabled] + label {color:#aaa;}
p.info {clear: both;float: left;font-size: 13px;font-style:italic;}
.sep {margin-bottom: 10px;border-bottom: 1px solid #e8e8e8;}
.buttons {padding: 12px 0 20px 0;border-top: 1px solid #e8e8e8;height: auto;overflow: hidden;}
.buttons input#insert {width: auto;height: 30px;float: right;}
.font-icon-grid {
	height: auto;
	overflow: hidden;
	clear: both;
}
.font-icon-grid li {
	float: left;
	width: 44px;
}
.font-icon-grid li:hover {
	cursor: pointer;
}
.font-icon-grid li i {
	font-size: 18px;
	border: 1px solid #e4e4e4;
	padding: 9px 4px;
	display: inline-block;
	text-align: center;
	width: 28px;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
.font-icon-grid li i[class^="ss-"] {
	padding: 12px 4px 6px;
}
.font-icon-grid li.selected i {
	background: #1dc6df;
	color: #fff;
	border-color: #1dc6df;
}
.font-icon-grid li .icon-name, .font-icon-grid li .icon-value {
	display: none;
}