/*
* 	Owl Carousel Owl Demo Theme 
*	v1.24
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
	padding-left:25px;
}
.owl-alt-controls.owl-theme .owl-controls{
	position:absolute;
	z-index:1;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding-left:0;
}
.blocked-area .owl-theme .owl-controls{
	padding-left:0;
}
/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div{
	color: #fff;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	padding-top:5px;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: none;
	position:absolute;
	top:50%;
	z-index:11;
	margin-top:-25px;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
}
.owl-theme .owl-controls .owl-buttons div{
	width:30px;
	height:30px;
	background:#aaa;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev{
	left:-45px;
}
.owl-theme .owl-controls .owl-buttons div.owl-next{
	right:-55px;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme:hover .owl-controls .owl-buttons div.owl-prev{
	left:15px;
	-webkit-transition: left .3s .2s;
	-moz-transition: left .3s .2s;
	-ms-transition: left .3s .2s;
	-o-transition: left .3s .2s;
	transition: left .3s .2s;
}
.owl-theme:hover .owl-controls .owl-buttons div.owl-next{
	right:-15px;
	-webkit-transition: right .3s .2s;
	-moz-transition: right .3s .2s;
	-ms-transition: right .3s .2s;
	-o-transition: right .3s .2s;
	transition: right .3s .2s;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #bbbbbb;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}
.owl-alt-controls.owl-theme .owl-controls .owl-page span{
	background:#000000;
}
.owl-alt-controls.owl-theme .owl-pagination{
	width:100%;
	overflow:hidden;
	bottom:15px;
	position:absolute;
	left:0;
}
/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.owl-alt-controls.owl-theme .owl-controls .owl-page span.owl-numbers{
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(../images/AjaxLoader.gif) no-repeat center center
}
.owl-carousel .item{
	margin-left:30px;
}
.owl-carousel{
	margin-left:-15px;
}
.owl-carousel .owl-wrapper-outer{
	width:101%!important;
}
.owl-carousel.single-carousel .owl-wrapper-outer{
	width:100%!important;
}
.owl-carousel.single-carousel .item{
	margin-left:0;
}
.owl-carousel.single-carousel{
	margin-left:0;
}